/*********************
VARIABLES
*********************/

//Colors
$mainColor: #03B0E4; // light blue theme03B0E4:   //red theme:E40303
$yellow:#F9C935;
$time-content-Color:#352D28;
//Font/Style
$Helvetica: Helvetica,
sans-serif;
$Lato:"Lato",
Arial,
serif;
$Sans:'Open Sans',
sans-serif;
$S: 320px;
$M: 950px;
$L: 1170px;

/*********************
BREAKPOINTS
*********************/

@mixin MQ($canvas) {
    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}


/*********************
Mixins
*********************/

@mixin tooltip($left, $right, $left-color, $right-color) {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    left: $left;
    right: $right;
    border-color: transparent;
    border-left-color: $left-color;
    border-right-color: $right-color;
    top: 24px;
}

@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*********************
EXTENDS
*********************/

.flex-stuff{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 3em;

}
/*********************
MAIN STYLES
*********************/

*,
*:after,
*:before {
    @include box-sizing;
}

a {
    color: $mainColor;
    text-decoration: none;
    font-weight: 800;
}

strong {
    font-weight: 500;
}

body {
    font-size: 100%;
    color: #fff;
    font-family: $Lato;
}

p {
    text-align: left;
    line-height: 22px;
    font-size: 15px;
    margin: 13px 0;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 22px;
}

h1 {
font-size: 2.5em;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin: 1em;
    background-color: #352D28;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 1em;
    span {
        color: $yellow;
    }
}

header.section-title{
    width:100%;
    text-align:center;
}

/**************
EXTRA STUFF
**************/
//Progress Bar

.container{
    overflow: hidden;
}
progress {
    background-color: red;
    height: 1em;
    width: 100%;
    &::-webkit-progress-bar {
        background-color: #fff;
    }
    &::-webkit-progress-value {
        background-color: $yellow;
    }
    &::-moz-progress-bar {
        background-color: #fff;
    }
}


