/*********************
VARIABLES
*********************/

//Colors
$mainColor:#03B0E4; // light blue theme03B0E4:   //red theme:E40303
$yellow:#F9C935;
$time-content-Color:#352D28;
//Font/Style
$Helvetica: Helvetica,
sans-serif;
$Lato:"Lato",
Arial,
serif;
$Sans:'Open Sans',
sans-serif;
$S: 320px;
$M: 900px;
$L: 1170px;

/*********************
BREAKPOINTS
*********************/

@mixin MQ($canvas) {
    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}


/*********************
Mixins
*********************/

@mixin tooltip($left, $right, $left-color, $right-color) {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    left: $left;
    right: $right;
    border-color: transparent;
    border-left-color: $left-color;
    border-right-color: $right-color;
    top: 24px;
}

@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
