@charset 'UTF-8';
html,
body {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #fafcff;
    color: #666;
}

body.home {
    background-color: #dacbb3;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    font-weight: lighter;
    color: #6D6561;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover,
.eddie-antonio {
    color: #583404;
}

a:hover {
    color: #B7A994;
}

.inline-nav > * > li {
    display: inline-block;
    margin-left: 0.6em;
}

img.intro-icon {
    width: 20%;
     transition: all 0.3s ease-in-out 0s;
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

img.intro-icon:hover{
    cursor: default;
    -webkit-animation: spin 1s infinite linear;

}

.hero-unit {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: -2em;
    bottom: 25%;
    text-transform: lowercase;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em 0 1.5em;
}

.home > footer {
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: white;
    opacity: 0.4;
}

.hero-unit > h1 {
    word-spacing: -0.25em;
    /* Remove the space between words. */
    font-weight: 100;
    font-size: 400%;
    line-height: 1.2em;
}

.santos {
    font-weight: normal;
    color: #B7A994;
}

.site-title a {
    text-decoration: none;
    color: inherit;
}

.social-media {
    margin-top: 1em;
}