@charset 'UTF-8';

html, body { height: 100%; }

body {
    text-align: center;
    font-family: "Raleway","Helvetica Neue", Helvetica, sans-serif;
    background-color: #fafcff;
    color: #FFB500;
}

body.home {
    background: url(./bg/bg1.jpg) no-repeat 50% / cover;
    background-image: linear-gradient(to bottom, rgba(48, 176, 214, 0.58) 0%, rgba(101, 97, 53, 0.63) 100%), url(./bg/bg1.jpg);
}

a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

a:hover, .eddie-antonio {
    color: #FFF;
}

.inline-nav > * > li {
    display: inline-block;
    margin-left: 0.6em;
}


.hero-unit {
    position: absolute;

    left: 0;
    right: 0;

    /* Vertically centre the element. */
    margin-bottom: -6em;
    bottom: 50%;

    text-transform: lowercase;
    padding: 1em 0 1.5em;
}


.hero-unit > h1 {
   word-spacing: -0.25em; /* Remove the space between words. */
   font-weight: 100;
   font-size: 400%;
   line-height: 1.2em;

}

.santos {
    font-weight: normal;
}

.site-title a {
    text-decoration: none;
    color: inherit;
}


.social-media {
      margin-left:auto;
    margin-right:auto;
    padding-top:2em;
}


