//Colors
$Heading-color:darkred;
//Font/Style
$Helvetica: Helvetica,
sans-serif;
$Lato:"Lato",
Arial,
serif;
$Sans:'Open Sans',
sans-serif;
@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

//Media Query
$Desktop:950px;


/*---------------
MAIN STYLES
----------------*/

*,
*:after,
*:before {
    @include box-sizing;
}

.heading {
    height: auto;
    padding: 2em;
    text-align: center;
    background-color: $Heading-color;
    h1 {
        font-size: 3em;
        color: #fff;
    }
}

img {
    max-width: 100%;
    padding: 10px;
    border-radius: 50%
}

nav {
    width: 100%;
    background: $Heading-color*0.7;
    padding: 1em;
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            text-align: center;
            padding: 0 2em;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}


/*------------
TIMELINE
-------------*/

#cd-timeline {
    position: relative;
    /* vertial line*/
    &::before {
        content: '';
        position: absolute;
        top: 2em;
        height: 100%;
        width: 3px;
        background: #c03b44;
    }
    .time {
        color: #9E9EA2;
    }
}

.block {
    position: relative;
    margin: 2em 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    /*&:first-child {
        margin-top: 6em;
    }
    &:last-child {
        margin-bottom: 2em;
    } */
}

//Media queries for Timeline
@media only screen and (min-width:$Desktop) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

@media only screen and (min-width:$Desktop) {
    .block {
        margin: -5em 0;
    }
    .block:first-child {
        margin-top: 0;
    }
    .block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 11px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*
    box-shadow: 0 0 0 3px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 0 -1px rgba(0, 0, 0, 0.05);
    */
}

.cd-timeline-img.cd-movie {
    background: #c03b44;
}

@media only screen and (min-width:$Desktop) {
    .cd-timeline-img {
        width: 2em;
        height: 2em;
        left: 50%;
        margin-left: -17px;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    background: #38383A;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
}

@media only screen and (min-width:$Desktop) {
    .cd-timeline-content {
        margin-left: 6em;
        padding: 34px 39px 9px;
        width: 38%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #38383A;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .block:nth-child(even) .cd-timeline-content {
        float: right;
        margin-right: 6em;
    }
    .block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #38383A;
    }
    .block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}