img {
    max-width: 100%;
    border-radius: 50%;
    width: 12em;
}

h1,h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 23px;

}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    color: #fff;
    font-family: "Lato", Arial, serif;
}

a {
    color: rgba(255, 192, 0, 0.94);
    text-decoration: none;
    font-weight: 900;
}

img {
    max-width: 100%;
    padding: 10px;
}

nav.corner-nav {
    background-color: #111417;
    padding: 0.5em;
}

header.profile h1 {
    font-size: 3em;
    text-align: center;
    color: white;
    padding-top: 0;
    padding-bottom: 5px;
}

h1 {
    color: #C03B44;
    padding-top: 1em;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
}

.profile p {
    font-size: 17px;
    line-height: 1.8em;
}


/* -------------------------------- 

Main components 

-------------------------------- */

header {
    text-align: center;
    background: #E0313C;
    height: auto;
    padding: 2em;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #c03b44;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.time {
    color: #9E9EA2;
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: -5em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 11px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*
    box-shadow: 0 0 0 3px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 0 -1px rgba(0, 0, 0, 0.05);
    */
}

.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-img.cd-picture {
    background: #75ce66;
}

.cd-timeline-img.cd-movie {
    background: #c03b44;
}

.cd-timeline-img.cd-location {
    background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 2em;
        height: 2em;
        left: 50%;
        margin-left: -17px;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    background: #38383A;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content p {
    margin: 13px 0;
    line-height: 19px;
    font-size: 16px;
    padding-top: 0em;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 6em;
        padding: 1.5em 3.5em;
        width: 38%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #38383A;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        margin-right: 6em;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #38383A;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}


/*--------
Sections
---------*/

section.education {
    background-color: #E0313C;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
}

section.education h2{
   font-size: 3em;
   text-transform: uppercase;
}

.ed-list{
   padding-top: 2em;
}

section.skills {
    color: #38383A;
    background-color: #FFFFFF;
    text-align: center;
    padding: 2em;
}

section.skills h2{
   font-size: 3em;
}

section.skills h3{
   font-size: 1em;
}

section.hobbies {
    background-color: #38383A;
    padding: 3em 10%;
}