/*********************
VARIABLES
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
BREAKPOINTS
*********************/
/*---------------
MAIN STYLES
----------------*/
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  color: #F9C935;
  text-decoration: none;
  font-weight: 900; }

strong {
  font-weight: 500; }

body {
  font-size: 100%;
  color: #fff;
  font-family: "Lato", Arial, serif; }

p {
  text-align: left;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  margin: 13px 0;
  font-weight: 300;
  font-family: "Lato", Arial, serif; }

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  width: 100%; }

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
  color: #352D28;
  padding: 1em; }
  h1 span {
    color: #03B0E4; }

/*---------------
HEADER
----------------*/
.heading {
  height: auto;
  padding: 5em 0em;
  text-align: center;
  background: url(img/header.jpg) center center fixed;
  background-image: linear-gradient(to bottom, rgba(37, 34, 34, 0) 0%, rgba(53, 31, 17, 0.66) 100%), url(img/header.jpg);
  background-size: cover; }
  .heading .title {
    background-color: #F9C935;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    color: #352D28;
    font-weight: 600; }
    .heading .title h1 {
      font-size: 5em;
      padding: 8px;
      display: inline-block; }
    .heading .title h2 {
      font-size: 2em;
      display: inline-block; }

nav {
  width: 100%;
  background: #03B0E4;
  padding: 1em;
  z-index: 100; }
  nav ul {
    display: flex;
    justify-content: center; }
    nav ul li {
      list-style: none;
      text-align: center;
      padding: 0 1em; }
      nav ul li a {
        color: #FFF;
        font-size: 1em;
        font-weight: 400;
        font-family: "Lato", Arial, serif;
        text-transform: uppercase; }

/*---------------
Intro
----------------*/
.intro {
  background-color: #03B0E4;
  padding: 2em 7em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: -3em; }
  .intro img {
    max-width: 15em;
    border-radius: 50%; }
  .intro .description {
    width: 60%;
    padding-right: 3em; }
    .intro .description p {
      font-size: 1em;
      font-weight: 300;
      line-height: 22px; }
    .intro .description h2 {
      font-size: 2em;
      line-height: 34px;
      font-weight: 400; }
    .intro .description h3 {
      font-size: 20px;
      font-weight: 300;
      padding-bottom: 1em;
      padding-top: 4px;
      font-weight: 100; }

.download {
  padding: 3em 0; }
  .download a {
    padding: 1em;
    font-weight: 500;
    color: #fff;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    transition: all 0.2s ease; }
    .download a:hover {
      background-color: #fff;
      color: #03B0E4; }

/*---------------/*---------------/*---------------
TIMELINE
------------------------------------------------*/
.time {
  color: #9E9EA2; }

.timeline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.timeline {
  margin-top: -2em 0; }
  @media only screen and (min-width: 900px) {
    .timeline {
      position: relative;
      max-width: 900px;
      margin: 0 auto; }
      .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        left: 50%;
        top: 2.5em;
        margin-left: -2px;
        background: #03B0E4; }
      .timeline .time-dot {
        position: absolute;
        top: 11px;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        background-color: #04d3ff; } }

.block {
  margin: 1% 0;
  flex: 0 0 45%;
  position: relative; }
  @media only screen and (min-width: 900px) {
    .block:first-child {
      margin: 0 0; }
    .block:nth-child(2) {
      margin: 0 0; }
    .block:nth-child(3) {
      margin: -10em 0; }
    .block:last-child {
      margin: 2% 0; }
    .block:nth-child(even) {
      margin-top: 21%; }
      .block:nth-child(even) .time-content::before {
        content: '';
        position: absolute;
        border: 7px solid transparent;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-left-color: #fff;
        border-right-color: #352D28;
        top: 24px; }
      .block:nth-child(even) .time-dot {
        left: -15%; }
    .block:nth-child(odd) .time-content::before {
      content: '';
      position: absolute;
      border: 7px solid transparent;
      left: 100%;
      right: 0;
      border-color: transparent;
      border-left-color: #352D28;
      border-right-color: #fff;
      top: 24px; }
    .block:nth-child(odd) .time-dot {
      left: 107%; } }

.time-content {
  border-radius: 0.25em;
  padding: 2em 2em 1em;
  background: #352D28;
  font-weight: 300;
  font-family: "Lato", Arial, serif; }
  .time-content h2 {
    font-size: 25px;
    line-height: 26px;
    text-transform: uppercase; }

/*---------------/*---------------/*---------------
EDUCATION
------------------------------------------------*/
.education {
  background-color: #E8E8E8;
  padding: 2em 4em;
  text-align: center;
  color: #000; }

/*---------------/*---------------/*---------------
SKILLS
------------------------------------------------*/
.skills {
  color: #175c85;
  padding: 2em 10em;
  display: flex;
  flex-wrap: wrap;
  background-color: #03B0E4; }
  .skills h1 {
    width: 100%;
    color: #fff; }
  .skills h2 {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    padding: 1em 0 0em;
    text-transform: uppercase; }

/* Language list thing. */
.lang-list {
  list-style: none; }
  .lang-list li {
    display: inline-block;
    color: #03B0E4;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5em 0em 0.5em; }
    .lang-list li:not(:last-child):after {
      content: ", "; }

.skills-box {
  background-color: #352D28;
  padding: 2em; }

progress {
  background-color: #03B0E4;
  border: 0;
  height: 2.5em;
  width: 100%; }
  progress::-webkit-progress-bar {
    background-color: #e0eaf0; }
  progress::-webkit-progress-value {
    background-color: #F9C935; }
  progress::-moz-progress-bar {
    background-color: #329ad1; }

dt {
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  padding: 17.5px 0 3px; }

dd {
  font-family: 'Montserrat', sans-serif;
  color: #03B0E4; }

/*---------------/*---------------/*---------------
HOBBIES
------------------------------------------------*/
.hobbies {
  background-color: #fff;
  padding: 1em 9em;
  text-align: center; }
  .hobbies h1 {
    padding: 1em 0em 0.5em; }
  .hobbies h2 {
    font-size: 22px; }
  .hobbies .hobby-box {
    background-color: #352D28;
    margin: 1em;
    padding: 2em;
    border-radius: 1em; }

/*---------------/*---------------/*---------------
Footer
------------------------------------------------*/
footer {
  disply: flex;
  background-color: #352D28;
  padding: 5em 9em; }

/*# sourceMappingURL=resume.css.map */
