@charset "UTF-8";

/* LaTeX-inspired theme. */


/* Global stuff. */
body { font-family: "Latin Modern Roman", serif }
.container { text-align: center; }
.container > article {
   text-align: left;
   margin: 0 auto;
   max-width: 32em;
}
@media print {
   body { font-size: 11pt; }
}

::selection {
   background: #38C;
   color: #fff;
   text-shadow: none;
}
::-moz-selection {
   background: #38C;
   color: #fff;
   text-shadow: none;
}

/* Weird link stuff. */
@media print {
   a {
      text-decoration: none;
      text-decoration-skip: all;
   }
   a:link, a:visited { color: inherit; }
   a:after {
      text-decoration: underline;
      color: #666;
      content: "<" attr(href) ">";
      margin-left: 0.5em;
   }
   h1 a:after, h2 a:after, h3 a:after { display: none }
}

/* De-emphasize links in headings. */
h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited {
   color: inherit;
   transition: color 3s ease;
}
a:link, a:visited,
h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active {
   color: #37A;
}
/* Transition effects. */
h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active {
   transition: color 0.25s ease;
}
a:hover, a:active {
  text-decoration: none;
}

/* Header stuff. */
.masthead {
   text-align: center;
   padding: 6em 0 2em;
}
.masthead .title, .masthead .author, .masthead .tagline {
  font-weight: normal
}
.masthead .tagline { font-size: 1em }


/* Get rid of weird gap. */
li > p:first-child { margin: 0 inherit; }

/* Get rid of big margins. */
li > p {
    margin: 0;
}

/* Get rid of unnecessary margin. */
.experience dd {
   margin: auto auto 2em 0;
}

.experience .time {
  color: #666;
}

/* Language list thing. */
.lang-list {
   list-style: none;
   font-size: 1.5em;
   text-align: center;
   padding: 0 0.25em;
}
.lang-list > li { display: inline-block; }
.lang-tier-1 { font-weight: bold; }
.lang-tier-2 { font-size: 0.8em; }
.lang-tier-3 { font-size: 0.6em; }
/* Separate list entries with commas. */
.lang-list > li:not(:last-child):after {
   content: ", ";
}

.corner-nav {
   font: 10pt sans-serif;
   position: fixed;
   top: 1em;
   opacity: 0.3;
   transition: opacity 0.25s ease;
}
.corner-nav:hover {
   opacity: 1;
}
@media print {
   .corner-nav { display: none }
}
/* Add a little hooked arrow going back. */
.back:before { content: "\21A9  " }

/* Explicit printed page styles. */
@page {
   margin: 72pt 55pt 36pt;
}
