@import 'main-rules';

/*---------------
MAIN STYLES
----------------*/

*,
*:after,
*:before {
    @include box-sizing;
}

a {
    color: $yellow;
    text-decoration: none;
    font-weight: 800;
}

strong {
    font-weight: 500;
}

body {
    font-size: 100%;
    color: #fff;
    font-family: $Lato;
}

p {
    text-align: left;
    line-height: 22px;
    font-size: 15px;
    margin: 13px 0;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 22px;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    font-weight: 700;
    color: $time-content-Color;
    padding: 1em;
    span {
        color: $mainColor;
    }
}


/*---------------
HEADER
----------------*/

.heading {
    padding: 5em 0em;
    text-align: center;
    background: url(img/header.jpg) center center fixed;
    background-image: linear-gradient(to bottom, rgba(37, 34, 34, 0) 0%, rgba(53, 31, 17, 0.66) 100%), url(img/header.jpg);
    background-size: cover;
    .title {
        background-color: #F9C935;
        width: 50%;
        margin: 0 auto;
        padding: 1em;
        color: #352D28;
        font-weight: 600;
        h1 {
            font-size: 5em;
            padding: 8px;
            display: inline-block;
        }
        h2 {
            display: inline-block;
        }
    }
}

nav {
    width: 100%;
    background: $mainColor;
    padding: 1em;
    z-index: 100;
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            text-align: center;
            padding: 0 1em;
            a {
                color: #FFF;
                font-size: 1em;
                font-weight: 400;
                font-family: $Lato;
                text-transform: uppercase;
            }
        }
    }
}


/*---------------
Intro
----------------*/

.intro {
    background-color: $mainColor;
    padding: 2em 7em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: -3em;
    img {
        max-width: 15em;
        border-radius: 50%;
    }
    .description {
        width: 60%;
        padding-right: 3em;
        h2 {
            line-height: 34px;
            font-weight: 400;
        }
        h3 {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 1em;
            padding-top: 4px;
            font-weight: 100;
        }
    }
}

.download {
    padding: 3em 0;
    a {
        padding: 1em;
        font-weight: 500;
        color: #fff;
        border-style: solid;
        border-color: #FFFFFF;
        border-width: 2px;
        transition: all 0.2s ease;
        &:hover {
            background-color: #fff;
            color: $mainColor;
        }
    }
}


/*---------------/*---------------/*---------------
TIMELINE
------------------------------------------------*/

.time {
    color: #9E9EA2;
}

.timeline {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.timeline {
    margin-top: -2em 0;
    @include MQ(M) {
        position: relative;
        max-width: $M;
        margin: 0 auto;
        &::before {
            //vertical line
            content: '';
            position: absolute;
            height: 100%;
            width: 3px;
            left: 50%;
            top: 2.5em;
            margin-left: -2px;
            background: $mainColor;
        }
        .time-dot {
            //time line dot
            position: absolute;
            top: 11px;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            background-color: $mainColor*1.2;
        }
    }
}

.block {
    margin: 1% 0;
    flex: 0 0 45%;
    position: relative;
    @include MQ(M) {
        &:first-child {
            margin: 0 0;
        }
        &:nth-child(2) {
            margin: 0 0;
        }
        &:nth-child(3) {
            margin: -10em 0;
        }
        &:last-child {
            margin: 2% 0;
        }
        &:nth-child(even) {
            margin-top: 21%;
            .time-content {
                &::before {
                    @include tooltip(auto, 100%, #fff, $time-content-Color);
                }
            }
            .time-dot {
                left: -15%;
            }
        }
        &:nth-child(odd) {
            .time-content {
                &::before {
                    @include tooltip(100%, 0, $time-content-Color, #fff);
                }
            }
            .time-dot {
                left: 107%;
            }
        }
    }
}

//Boxe Styles
.time-content {
    border-radius: 0.25em;
    padding: 2em 2em 1em;
    background: $time-content-Color;
    font-weight: 300;
    font-family: $Lato;
    h3 {
        line-height: 26px;
        text-transform: uppercase;
    }
}


/*---------------/*---------------/*---------------
EDUCATION
------------------------------------------------*/

.education {
    background-color: #E8E8E8;
    padding: 2em 4em;
    text-align: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}


/*---------------/*---------------/*---------------
SKILLS
------------------------------------------------*/

.skills {
    padding: 2em 10em;
    display: flex;
    flex-wrap: wrap;
    background-color: $mainColor;
    font-family: 'Montserrat', sans-serif;
    h1 {
        color: #fff;
    }
    h3 {
        color: $mainColor;
        text-transform: uppercase;
        font-size: 1.7em;
    }
}

.skills-box {
    background-color: $time-content-Color; //#04D3FF;
    padding: 4em 5em 3em;
    border-radius: 1em;
        width:100%;

    .lang-list {
        list-style: none;
        padding-bottom: 2em;
        li {
            display: inline-block;
            padding: 1.5em 0em 0.5em;
            &:not(:last-child):after {
                content: ", ";
            }
        }
    }
    dt {
        font-size: 22px;
        color: #FFFFFF;
        padding: 17.5px 0 3px;
    }
    p {
        margin: 0;
        font-family: $Lato;
    }
}

//Progress Bar
progress {
    background-color: red;
    height: 1em;
    width: 100%;
    &::-webkit-progress-bar {
        background-color: #fff;
    }
    &::-webkit-progress-value {
        background-color: $yellow;
    }
    &::-moz-progress-bar {
        background-color: #fff;
    }
}


/*---------------/*---------------/*---------------
HOBBIES
------------------------------------------------*/

.hobbies {
    h1 {
        padding: 1em 0em 0.5em;
    }
    background-color: #fff;
    padding: 1em 9em;
    text-align: center;
    .hobby-box {
        background-color: #352D28;
        margin: 1em;
        padding: 2em;
        border-radius: 1em;
        h2 {
            a {
                font-size: 1.5em;
                font-weight: 200;
            }
        }
    }
}


/*---------------/*---------------/*---------------
Footer
------------------------------------------------*/

footer {
    disply: flex;
    background-color: $time-content-Color;
    padding: 5em 9em;
}