{% comment %}Based on https://github.com/LeNPaul/academic/blob/5303e549d057dc1a29112e5c38668ffb2725364a/_includes/head.html {% endcomment %}<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title == site.title %}{{page.title }}{% else %}{{ page.title }} — {{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
