---
# vim: set ft=liquid:
title: Curriculum Vitae — Eddie Antonio Santos
redirect_from: "/resume/"
---
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>{{ page.title }}</title>

    <meta name="author" content="Eddie Antonio Santos">
    <meta name="date" content="{{ site.time | date: "%F" }}">
    <meta name="designer" content="Eddie Antonio Santos">
    <meta name="description" content="Curriculum Vitae (CV) of Eddie Antonio Santos, software developer and computer science educator">

    <meta name="twitter:creator " content="@_eddieantonio">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" href="{{ baseurl }}/style/fonts/latin-modern-roman/stylesheet.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/resume.css" type="text/css" rel="stylesheet">
</head>
<body>
  <nav class="corner-nav">
    <a class="back" href="{{ baseurl }}/">Back to home</a>
  </nav>

  <div class='container'>
    <main>
      <header class="masthead">
        <h1 class="author"> Eddie Antonio Santos </h1>
        <p class="tagline"> Computer science educator and software developer </p>
        <ul class="contact">
          <!-- https://www.google.com/recaptcha/admin#mailhide -->
          <li class="website"><a href="{{ baseurl }}/">{{ site.me.website }}</a></li>
          <li class="email"><a onclick="window.location=['mailt', ':hell', '@eddieant', 'ni', '.ca'].join(String.fromCharCode(0x6F))"
                 class="nothing-to-see-here" href="#">o</a></li>
          <li class="github"><a href="{{ site.me.github }}"
                                ><span class="print-only">github.com/</span
                                >eddieantonio</a></li>
        </ul> </p>
      </header>

      <article>
      <section class="education">
        <header>
          <h2>Education</h2>
        </header>

        {% for ed in site.data.cv.education %}
        <section class="title-location-block">
          <hgroup>
            <h3 class="title">{{ ed.program }}</h3>
            <div class="location">{{ ed.institution }}</div>
          </hgroup>

          <div class="time">
            {{ ed.time.start }}–{% if ed.time.end
              %}{{ ed.time.end }}
            {% elsif ed.in_progress
              %}<span class="in-progress">Expected: {{ ed.time.expected }} </span>
            {% endif %}
          </div>
        </section>
        {% endfor %}
      </section>
      <section class="experience">
        <header>
          <h2> Work Experience </h2>
        </header>

        {% for job in site.data.cv.experience %}
        <section class="title-location-block">
          {% capture job_employer %}{% if job.employer %}{{ job.employer }}{% else %}{{ job.location }}{% endif %}{% endcapture %}
          <hgroup>
            <h3 class="title">{{ job.title }}</h3>
            <div class="time">
              {% if job.time.start == job.time.end
                %}{{ job.time.start }}{%
                else
                %}{{ job.time.start }}–{% if job.time.end %}{{ job.time.end }}{% endif %}
              {% endif %}
            </div>
          </hgroup>
          <div class="location">{{ job_employer }}</div>

          <ul class="responsibilities">
            {% for item in job.responsibilities %}
              <li> {{ item | markdownify }} </li>
            {% endfor %}
          </ul>
        </section>
        {% endfor %}
      </section>

      <section class='publications'>
        <h2>Publications</h2>

        <p> <a href="https://orcid.org/0000-0001-5337-715X">ORCID<span class="print-only">: 0000-0001-5337-715X</span></a>,
            <a href="https://scholar.google.com/citations?user=yfNIOX0AAAAJ">scholar.google.com/citations?user=yfNIOX0AAAAJ</a>
        </p>

        <ol class="publications-list">
          {% for pub in site.data.cv.publications %}
            <li class="publication">
              {{ pub.authors | join: ", " }}.
              {{ pub.year }}.
              {% if pub.url %}
                <a href="{{ pub.url }}">{{ pub.title }}</a>.
              {% else %}
                {{ pub.title }}
              {% endif %}
              In {{ pub.venue }}{% if pub.pages %},
                {{ pub.pages }} pages{% endif %}.
              {% if pub.awards %}
                <br>🏆 {{ pub.awards | join: ", " }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </section>

      <section class='presentations'>
        <h2>Presentations and Lectures</h2>
        <ul>
          {% for prez in site.data.cv.presentations %}
            <li>
              {% if prez.video_url %}<a href="{{ prez.video_url }}">{% endif %}{{ prez.title }}{% if prez.video_url %}</a>{% endif %}
              ({{ prez.year }})
              {% if prez.slides_url %}
                <a href="{{ prez.slides_url }}">[Slides]</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>

      <section class="teaching">
        <header>
          <h2> Lecturing </h2>
        </header>

        {% for institution in site.data.cv.teaching %}
          <section>
            <p> <i> For {{ institution.institution }} </i>
            <ul>
            {% for course in institution.courses %}
              <li> {{ course.title }}, {{ course.term}}
            {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </section>

      <section class="supervision">
        <header>
          <h2> Supervision </h2>
        </header>

        {% for level in site.data.cv.supervision %}
          <section>
            <h3> {{ level.level }} </h3>
            <ul>
            {% for student in level.students %}
              <li> {{ student.name }} ({{ student.period }})
            {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </section>

      <section class='hobbies'>
        <h2>Service and Volunteering</h2>

        <dl>
          {% for hobby in site.data.cv.hobbies %}
            <dt> {{ hobby.title | markdownify }} </dt>
          {% endfor %}
        </dl>
      </section>

      <section class="skills">
        <header>
          <h2>Technical Skills</h2>
        </header>

        <section>
          <h3> Programming languages </h3>

          <ul class="lang-list">
          {% for tier in site.data.cv.skills.languages %}
            {% assign tier_no = forloop.index %}
            {% for lang in tier %}
            <li class="lang-tier-{{ tier_no }}
              lang-{{ lang | replace:' ','-' | downcase }}">{{ lang }}</li>
            {% endfor %}
          {% endfor %}
          </ul>
        </section>

        <section>
          <dl>
            {% for category in site.data.cv.skills.small_categories %}
              <dt> {{ category[0] }} </dt>
              <dd> {{ category[1] | join: ', ' | markdownify }} </dd>
            {% endfor %}
          </dl>
        </section>

        <section>
          <h3> Natural languages </h3>
          <dl>
            <dt> English <dd> fluent reading, speaking, writing
            <dt> Spanish <dd> fluent reading; semi-fluent speaking, writing
            <!--dt> nêhiyawêwin (Plains Cree) <dd> beginner reading, speaking, writing-->
          </dl>
        </section>
      </section>
      </article>
    </main>
  </div>
</body>
</html>
