---
# vim: set ft=liquid: #

education:
  - institution: University of Alberta
    location: Edmonton, Alberta, Canada
    program: BSc. Specialization in Computing Science
    in_progress: yes
    time: { start: 2010, end: }

experience:
  - title: Computer programmer/ General knower of stuff
    employer: Dr. Denlison Barbosa, University of Alberta
    time: 2014
    responsibilities:
      - Write and test a [Storm](http://storm.incubator.apache.org/)
        application for massively parallel document processing.

      - Deploy and test distributed application both on virtualized
        development clusters (using [Vagrant](http://www.vagrantup.com/)) and
        production clusters.

      - Maintain large, existing Java codebases: updating to use standard
        practices, automated testing, implementing dependency managment, and
        general de-crufting.

  - title: Teaching assistant, SCI 100 University of Alberta
    employer: University
    time: 2012-present
    responsibilities:
      - Assist students learning Python as their first programming language
      - Evaluate student coursework

  - title: Computer Programmer/Research Assistant
    employer: >
      [Cultr](http://cultr.business.ualberta.ca/), Alberta School of Business
    time: 2013-2014
    responsibilities:
      - Write a robust and versatile web crawling service using a variety of
        technologies including [Scrapy](http://scrapy.org/), and
        [PhantomJS](http://phantomjs.org/) duck-taped together using an Erlang
        load-balancer and [Redis](http://redis.io/).
      - Expose the web crawling daemon as a service with a Node.JS web
        server.
      - Assist in development of the website front-end.
      - Configure and maintain custom daemon processes on Ubuntu 12.04 servers.

  - title: Research Assistant/Web developer
    employer: Dr. Denilson Barbosa, University of Alberta
    time: 2013
    responsibilities:
      - Create and maintain existing web demos for text processing tools
        using JavaScript, jQuery, and [D3](http://d3js.org/)
      - Develop a database abstraction library in Java for interoperation
        between our various text processing tools and an assortment of
        persistence tools (including MongoDB).
      - Develop a simple CoffeeScript NodeJS app for bridging the web demos
        to the text processing tools.

  - title: Web developer
    employer: >
      [UAWater](http://waterdb.ualberta.ca), Dr. Greg Goss, University of
      Alberta
    time: 2012-2013
    responsibilities:
      - Evaluate the state of a legacy PHP web application and then promptly
        chucking it out (incrementing a database cursor in the middle of
        template code that generates HTML tables? Nobody wants to see that!)
      - Create database migration tools to transition from one (horrible)
        SQLite3 database schema to a more maintainable
      - Employ the use of fulltext indices for measurably faster text search
        queries.
      - Design simple, clean stylesheets for the website.

  
  - title: Research Assistant/Web developer
    employer: Dr. Davood Rafiei, University of Alberta
    time: 2012
    responsibilities:
      - Develop a PHP-backed web game for human computation.
      - Created an MySQL backed real time system. It's not worth really worth
        it.
      - Linux system administration.



skills:
  # TODO: neat D3 word cloud for this?
  languages:
    # "Tier 1" -- the languages that I spend a bunch of time programming. 
    - [Python, CoffeeScript, JavaScript, C, Scala, Java, Erlang]
    # "Tier 2" -- I don't program these often as often as the others but can
    # just "pick 'em up" and start programming.
    - [Ruby, Perl, C#, Scheme, PHP, C++11, Common Lisp, Go]
    # Less useful, or far less proficient; I don't really program them often
    # or haven't recently, but I have # intimate knowledge because I'm a
    # freak.
    - [6502 Assembly, Haskell, MIPS assembly, Pascal, Smalltalk-80, Eiffel]

  small_categories:
    Databases: [MongoDB, Redis, MySQL, Oracle SQL]

    Editors: [Vim, Eclipse]

    OSs: [Mac OS X, Ubuntu/Debian Linux, OpenBSD, Other miscellaneous Linux distros]

    Version Control: [Git, Mercurial, limited knowledge of SVN]

    Miscellaneous:
     - >
       [Puppet Configuration Management](http://puppetlabs.com/)
     - >
       [Vagrant](http://www.vagrantup.com/)

hobbies:
  - title: >
      [Canadian Open Data Experience 2014 Hackathon](https://www.canadianopendataexperience.com/)

    description: >
      Developed [Forward](http://code-forward.meteor.com) in under 48 hours
      for the hackathon with a team of myself and three other students. I was
      primarily responsible for coding the front-end, developing templates,
      and attaching the background data processing work to the front-end.
      Based on my designer's mockups, I quickly crafted CSS stylesheets
      designed for most common mobile phones.

  - title: >
      [Pal.JS](http://www.eddieantonio.ca/paljs/)
    description:
      A Pal (subset of Pascal) compiler written and targeting JavaScript. It's
      not fully implemented. I wrote this after my compilers class,
      implementing the same language.  This gave me a bit of distraction while
      procrastinating on studying for finals, and I learned about [parsing
      expression grammars](http://pegjs.majda.cz/) while writing it.


---
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Résumé &mdash; Eddie Antonio Santos</title>
    <link media='all' href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css' type='text/css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class='container'>

    <header class="masthead">
      <h1> Eddie Antonio Santos </h1>
      <h2> Résumé </h2>
      <h3> Computer programmer based in Edmonton, Alberta, Canada </h3>
    </header>

    <article>

      <section>
        <header>
          <h2> Experience </h2>
        </header>

        <dl>
        {% for job in page.experience %}
          {% capture job_header %} {{ job.title }} for {{ job.employer }} {% endcapture %} 
          <dt> <h3>{{ job_header | markdownify }}</h3>
            <small>{{ job.time }}</small> </h3> </dt>
          <dd>
            <h4> Responsibilities </h4>
            <ul>
            {% for item in job.responsibilities %}
              <li> {{ item | markdownify }} </li>
            {% endfor %}
          </ul>
          </dd>
        {% endfor %}
      </dl>

      </section>


      <section>
        <header>
          <h2> Education </h2>
        </header>

        <ol class="list-unstyled">
        {% for ed in page.education %}
          <li>
            {{ ed.program }}&mdash;{{ ed.institution }}
            {% if ed.in_progress %}
            <span class="in-progress">In Progress</span>
            {% endif %}
          </li>
        {% endfor %}
        </ol>
      </section>


      <section>
        <header>
          <h2> Skills </h2>
        </header>

        <section>
          <h3> Programming languages </h3>
          <p> I love to learn programming languages. Here's a list of
            programming languages I've written code in, ordered in descending
            order of proficiency. </p>

          <ul class="list-inline">
          {% for tier in page.skills.languages %}
            {% for language in tier %}
              <li> {{ language }} </li>
            {% endfor %}
          {% endfor %}
          </ul>
        </section>

        <section>
          <h3> Miscellaneous technologies </h3>
          <dl>
            {% for category in page.skills.small_categories %}
              <dt> {{ category[0] }} </dt>
              <dd> {{ category[1] | join: ', ' | markdownify }} </dd>
            {% endfor %}
          </dl>
        </section>

      </section>

      <section class='hobbies'>
        <h2> Hobbies </h2>

        <dl>
          {% for hobby in page.hobbies %}
            <h3> {{ hobby.title | markdownify }} </h3>
            {{ hobby.description | markdownify }}
          {% endfor %}
        </dl>
      
      </section>

    </article>
  </div>

</body>
</html>
