---
# vim: set ft=liquid:
title: Résumé—Eddie Antonio Santos
redirect_from: /cv/
---
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>{{ page.title }}</title>

    <meta name="author" content="Eddie Antonio Santos">
    <meta name="date" content="{{ site.time | date: "%F" }}">
    <meta name="designer" content="Eddie Antonio Santos">
    <meta name="description" content="Résumé of Eddie Antonio Santos, Computer Programmer">

    <meta name="twitter:creator " content="@_eddieantonio">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" href="{{ baseurl }}/style/fonts/latin-modern-roman/stylesheet.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/resume.css" type="text/css" rel="stylesheet">
</head>
<body>
  <nav class="corner-nav">
    <a class="back" href="{{ baseurl }}/">Back to home</a>
  </nav>

  <div class='container'>
    <main>
      <header class="masthead">
        <h1 class="author"> Eddie Antonio Santos </h1>
        <h2 class="title"> Résumé </h2>
        <p class="tagline"> Computer programmer based in Edmonton, Alberta, Canada </p>
        <ul class="contact">
          <!-- https://www.google.com/recaptcha/admin#mailhide -->
          <li><a class="website" href="{{ baseurl }}/">{{ site.me.website }}</a></li>
          <li><a class="email" href="http://www.google.com/recaptcha/mailhide/d?k=01A3B2V-lI3SC7lsQNUnLWTA==&amp;c=hoBBkmg3M4raQ4vEIrG_WrwkAm4dbApmI8Rn3vnGrc4="
                 onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01A3B2V-lI3SC7lsQNUnLWTA\x3d\x3d\x26c\x3dhoBBkmg3M4raQ4vEIrG_WrwkAm4dbApmI8Rn3vnGrc4\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal my e-mail address">e…@ualberta.ca</a></li>
          <li><a class="github" href="{{ site.me.github }}">eddieantonio</a></li>
        </ul> </p>
      </header>

      <section class="education">
        <header>
          <h2> Education </h2>
        </header>

        <ul class="ed-list">
        {% for ed in site.data.resume.education %}
          <li>
            {{ ed.program }}&mdash;{{ ed.institution }}
            {% if ed.in_progress %}
            <span class="in-progress">In Progress</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </section>

      <section class="experience">
        <header>
          <h2> Experience </h2>
        </header>

        <dl>
        {% for job in site.data.resume.experience %}
          {% capture job_header %} {{ job.title }} {% if job.employer %} for {{ job.employer }} {% endif %}{% endcapture %}
          <dt> <h3>{{ job_header | markdownify }}
            <small class="time">{{ job.time }}</small> </h3> </dt>
          <dd>
            <h4> Responsibilities </h4>
            <ul>
            {% for item in job.responsibilities %}
              <li> {{ item | markdownify }} </li>
            {% endfor %}
          </ul>
          </dd>
        {% endfor %}
      </dl>

      </section>

      <section class="skills">
        <header>
          <h2> Skills </h2>
        </header>

        <section>
          <h3> Programming languages </h3>
          <p> I love to learn programming languages. Here's a list of
              programming languages I have experience in: </p>

          <ul class="lang-list">
          {% for tier in site.data.resume.skills.languages %}
            {% assign tier_no = forloop.index %}
            {% for lang in tier %}
            <li class="lang-tier-{{ tier_no }}
              lang-{{ lang | replace:' ','-' | downcase }}">{{ lang }}</li>
            {% endfor %}
          {% endfor %}
          </ul>
        </section>

        <section>
          <h3> Miscellaneous technologies </h3>
          <dl>
            {% for category in site.data.resume.skills.small_categories %}
              <dt> {{ category[0] }} </dt>
              <dd> {{ category[1] | join: ', ' | markdownify }} </dd>
            {% endfor %}
          </dl>
        </section>
      </section>

      <section class='publications'>
        <h2> Publications </h2>

        <ul>
          {% for paper in site.data.resume.publications %}
            <li>
              <span class="publication-authors">{{ paper.authors | join: ', ' }}</span>,
              <span class="publication-title">
                {% if paper.url %}
                  “<a href="{{ paper.url }}">{{ paper.title }}</a>,”
                {% else %}
                  “{{ paper.title }},”
                {% endif %}
              </span>
              <span class="publication-year">{{ paper.year }}</span>.
          {% endfor %}
        </ul>
      </section>

      <section class='hobbies'>
        <h2> Hobbies </h2>

        <dl>
          {% for hobby in site.data.resume.hobbies %}
            <dt> {{ hobby.title | markdownify }} </dt>
            <dd> {{ hobby.description | markdownify }} </dd>
          {% endfor %}
        </dl>
      </section>
    </main>
  </div>
</body>
</html>
