---
# vim: set ft=liquid:
title: Résumé—Eddie Antonio Santos
---
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>{{ page.title }}</title>
    <meta name="author" content="Eddie Antonio Santos">
    <meta name="date" content="{{ site.time | date: " %F " }}">
    <meta name="designer" content="Eddie Antonio Santos">
    <meta name="description" content="Résumé of Eddie Antonio Santos, Computer Programmer">
    <meta name="twitter:creator " content="@_eddieantonio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->
    <link media="all" href="{{ baseurl }}/style/reset.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/fonts/latin-modern-roman/stylesheet.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/resume.css" type="text/css" rel="stylesheet">
    <link media="all" href="{{ baseurl }}/style/animate.css" type="text/css" rel="stylesheet">
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ baseurl }}/js/jquery.sticky.js"></script>
<script type="text/javascript" src="{{ baseurl }}/js/progress.js"></script>
<script src="{{ baseurl }}/js/wow.min.js"></script>
<script>
new WOW().init();

$(window).load(function() {
    $("nav").sticky({
        topSpacing: 0
    });
});
</script>

<body>
    <div class="container">
        <header class="heading">
            <div class="title">
                <h1>The Many Musings of</h1>
                <h2>Eddie Antonio Santos</h2>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="">My Blog</a></li>
                <li><a href="">About Me</a></li>
                <li><a href="">Resume</a></li>

            </ul>
        </nav>
        <section class="intro">
            <img src="{{ site.baseurl }}/style/img/profile.jpg">
            <div class="description">
                <h2> Eddie Antonio Santos </h2>
                <h3> Computer Programmer based in Edmonton</h3>
                <p>About Me Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ex aspernatur minima modi dolores, deserunt commodi officiis illum deleniti accusantium nulla, autem. Architecto debitis labore maxime, non consectetur similique! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laborum similique voluptatum minima voluptatem voluptatibus illum, libero accusantium maxime, facilis, voluptate reprehenderit autem rerum dolorum illo ex esse modi repellendus.</p>
                <p class="download"><a href="#">Download CV</a></p>
            </div>
        </section>
        <section class="education">
            <h1> Education </h1>
            <ul class="ed-list">
                {% for ed in site.data.resume.education %}
                <li>
                    {{ ed.program }}&mdash;{{ ed.institution }} {% if ed.in_progress %}
                    <span class="in-progress">In Progress</span> {% endif %}
                </li>
                {% endfor %}
            </ul>
        </section>
        <!--
            <h1>WORK EXPERIENCE</h1>
        -->
        <h1><span>Work </span>Experience</h1>
        <section class="timeline">
            <!--<hr width="1" height="100%">-->
            {% for job in site.data.resume.experience %} {% capture job_header %} {{ job.title }} {% endcapture %}
            <div class="block">
                <div class="time-dot"></div>
                <div class="time-content wow bounceInUp">
                    <h3>{{ job_header | textilize }}</h3>
                    <hr>
                    <p>
                        <strong>{% if job.employer %} {{ job.employer | textilize}} {% endif %}</strong>
                        <ul>
                            {% for item in job.responsibilities %}
                            <li> {{ item | markdownify }} </li>
                            {% endfor %}
                            <div class="time">{{ job.time }}</div>
                        </ul>
                    </p>
                </div>
            </div>
            {% endfor %}
        </section>
        <section class="skills">
         <h1> <span>Technical </span>Skills </h1>
            <section class="skills-box">
                <ul class="lang-list">
                    <h3> Programming languages</h3> {% for tier in site.data.resume.skills.languages %} {% assign tier_no = forloop.index %} {% for lang in tier %}
                    <li class="lang-tier-{{ tier_no }}lang-{{ lang | replace:' ','-' | downcase }}">{{ lang }}</li>
                    {% endfor %}
                    <progress value="80" max="100"></progress>
                    {% endfor %}
                </ul>
                <h3> Miscellaneous technologies </h3>
                <dl>
                    {% for category in site.data.resume.skills.small_categories %}
                    <dt> {{ category[0] }} </dt>
                    <dd> {{ category[1] | join: ', ' | textilize }} </dd>
                    {% endfor %}
                </dl>
            </section>
        </section>
        
        <section class="hobbies">
            <h1> <span>Additional </span>Projects </h1>
            {% for hobby in site.data.resume.hobbies %} 
            <div class="hobby-box wow bounceInUp">
                <h2>{{ hobby.title | textilize }} </h2>
                {{ hobby.description | markdownify }}
            </div>
         {% endfor %}
        </section>
    </div>
    <footer>Footer </footer>
</body>

</html>